.text-sm{
    font-size: 0.8rem;
}

.container-fluid{
    padding-left: 2rem;
    padding-right: 2rem;
}
.container{
    max-width: 600px;
    margin :auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.primary-link{
    text-decoration: none;
}
.secondary-link{
    text-decoration: none;
}