:root{
    --primary-color : red;
}



#he{
    color :rgb(255, 0, 0);
    font-family: 'Noto Sans', sans-serif;
   
}
#hh{
    max-width:10px;
    margin: auto;
}
#li{
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: .3rem;
    color : white;
    padding: 0rem 1rem;   
}
#h2{
    margin: 2rem 2rem;
}
#lis{
    display:inline;
    list-style :none;
    text-align : center
}

